# Node
node_modules/
dist/
coverage/

# Mac
.DS_Store

# Windows
Thumbs.db

# Editor
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
*.swp
*.swo

# Generated
src/generated/
docs/.vitepress/dist
docs/.vitepress/cache

